<h1> Liste des avocats du cabinet</h1>


<div>
    <div class="row">
        <div class="list-group">
            <legend *ngIf="lawyers_AS.length != 0">Associés</legend>
            <ul style="list-style-type:none;">
                <li *ngFor="let lawyer of lawyers_AS">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <legend>{{lawyer.full_name}}</legend>
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <img src="../../shared/images/lawyers/OJ.jpg"  width="500" height="333">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" *ngIf="lawyer.lines_sch.length != 0">Parcours académique</h5>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let line of lawyer.lines_sch">{{line.content}}</li>
                                </ul>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" *ngIf="lawyer.lines_pub.length != 0">Publications et autres</h5>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let line of lawyer.lines_pub">{{line.content}}</li>
                                </ul>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" *ngIf="lawyer.lines_foe.length != 0">Matières Traitées</h5>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let line of lawyer.lines_foe">{{line.content}}</li>
                                </ul>
                            </a>
                            <br>
                        </div>
                    </a>
                </li>
            </ul>
            <legend *ngIf="lawyers_COL.length != 0">Collaborateurs/Collaboratrice</legend>
            <ul style="list-style-type:none;">
                <li *ngFor="let lawyer of lawyers_COL">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <legend>{{lawyer.full_name}}</legend>
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" *ngIf="lawyer.lines_sch.length != 0">Parcours académique</h5>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let line of lawyer.lines_sch">{{line.content}}</li>
                                </ul>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" *ngIf="lawyer.lines_pub.length != 0">Publications et autres</h5>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let line of lawyer.lines_pub">{{line.content}}</li>
                                </ul>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" *ngIf="lawyer.lines_foe.length != 0">Matières Traitées</h5>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let line of lawyer.lines_foe">{{line.content}}</li>
                                </ul>
                            </a>
                            <br>
                        </div>
                    </a>
                </li>
            </ul>
            <legend *ngIf="lawyers_COLX.length != 0">Collaborateurs/Collaboratrice externes</legend>
            <ul style="list-style-type:none;">
                <li *ngFor="let lawyer of lawyers_COLX">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                        <legend>{{lawyer.full_name}}</legend>
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" *ngIf="lawyer.lines_sch.length != 0">Parcours académique</h5>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let line of lawyer.lines_sch">{{line.content}}</li>
                                </ul>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" *ngIf="lawyer.lines_pub.length != 0">Publications et autres</h5>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let line of lawyer.lines_pub">{{line.content}}</li>
                                </ul>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1" *ngIf="lawyer.lines_foe.length != 0">Matières Traitées</h5>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let line of lawyer.lines_foe">{{line.content}}</li>
                                </ul>
                            </a>
                            <br>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


