<h1> Lawyers List </h1>
<h2 *ngIf="lawyers_AS.length != 0">Associés</h2>
<ul>
    <li *ngFor="let l of lawyers_AS">
        <ul>
            <h4>{{l.full_name}}</h4>
            <h5 *ngIf="l.lines_sch.length != 0">Parcours académique :</h5>
            <ul>
                <li *ngFor="let line of l.lines_sch">
                    {{line.content}}
                </li>
            </ul>
            <h5 *ngIf="l.lines_pub.length != 0">Publications :</h5>
            <ul>
                <li *ngFor="let line of l.lines_pub">
                    {{line.content}}
                </li>
            </ul>
            <h5 *ngIf="l.lines_pub.length != 0">Matières traitées :</h5>
            <ul>
                <li *ngFor="let line of l.lines_foe">
                    {{line.content}}
                </li>
            </ul>
        </ul>
    </li>
</ul>
<h3 *ngIf="lawyers_COL.length != 0">Collaborateurs</h3>
<ul>
    <li *ngFor="let l of lawyers_COL">
        <ul>
            <h4>{{l.full_name}}</h4>
            <h5 *ngIf="l.lines_sch.length != 0">Parcours académique :</h5>
            <ul>
                <li *ngFor="let line of l.lines_sch">
                    {{line.content}}
                </li>
            </ul>
            <h5 *ngIf="l.lines_pub.length != 0">Publications :</h5>
            <ul>
                <li *ngFor="let line of l.lines_pub">
                    {{line.content}}
                </li>
            </ul>
            <h5 *ngIf="l.lines_pub.length != 0">Matières traitées :</h5>
            <ul>
                <li *ngFor="let line of l.lines_foe">
                    {{line.content}}
                </li>
            </ul>
        </ul>
    </li>
</ul>
<h3 *ngIf="lawyers_COLX.length != 0">Collaborateurs externes</h3>
<ul>
    <ul>
        <li *ngFor="let l of lawyers_COLX">
            <ul>
                <h4>{{l.full_name}}</h4>
                <h5 *ngIf="l.lines_sch.length != 0">Parcours académique :</h5>
                <ul>
                    <li *ngFor="let line of l.lines_sch">
                        {{line.content}}
                    </li>
                </ul>
                <h5 *ngIf="l.lines_pub.length != 0">Publications :</h5>
                <ul>
                    <li *ngFor="let line of l.lines_pub">
                        {{line.content}}
                    </li>
                </ul>
                <h5 *ngIf="l.lines_pub.length != 0">Matières traitées :</h5>
                <ul>
                    <li *ngFor="let line of l.lines_foe">
                        {{line.content}}
                    </li>
                </ul>
            </ul>
        </li>
    </ul>
</ul>