<div>
    <form>
        
        <div class="row">
            <legend>{{lawyer.full_name}}</legend>
            <div class="list-group">
                <a class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" *ngIf="lawyer.lines_sch.length != 0">Parcours académique</h5>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let line of lawyer.lines_sch">{{line.content}}</li>
                    </ul>
                </a>
                <a class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" *ngIf="lawyer.lines_pub.length != 0">Publications et autres</h5>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let line of lawyer.lines_pub">{{line.content}}</li>
                    </ul>
                </a>
                <a class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" *ngIf="lawyer.lines_foe.length != 0">Matières Traitées</h5>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let line of lawyer.lines_foe">{{line.content}}</li>
                    </ul>
                </a>
                <br>
            </div>
            <div class="form-group">

                <!-- part to add a line to the cv -->
                <div>
                    <legend>Ajouter une ligne au C.V.</legend>

                    <label for="Contenu de la ligne" class="form-label mt-4">Contenu de la ligne</label>
                    <input type="text" [(ngModel)]="content2add" [ngModelOptions]="{standalone: true}" class="form-control" id="Contenu de la ligne" placeholder="Contenu de la ligne">
                    <label for="Date" class="form-label mt-4">Date</label>
                    <input type="date" data-date-format="YYYY-MM-DD" [(ngModel)]="date2add" [ngModelOptions]="{standalone: true}" class="form-control" id="Date" placeholder="Date">
                    <label for="selectType" class="form-label mt-4">Sélectionner le type de ligne</label>
                    <select class="form-select" id="selectType" [(ngModel)]="type2add" [ngModelOptions]="{standalone: true}">
                        <option val="sch">Parcours académique</option>
                        <option val="pub">Publications et autres</option>
                        <option val="foe">Matières Traitées</option>
                    </select>
                    <br>
                    <div class="d-grid gap-2">
                        <button class="btn btn-lg btn-primary" type="button" (click)="addLine()">Ajouter la ligne au C.V.</button>
                    </div>
                </div> <br>

                <!-- part to modify a line of the cv -->
                <div>
                    <legend>Modifier une ligne du C.V.</legend>

                    <label for="Contenu de la ligne" class="form-label mt-4">Contenu de la ligne à modifier</label>
                    <input type="text" [(ngModel)]="content2modify" [ngModelOptions]="{standalone: true}" class="form-control" id="Contenu de la ligne" placeholder="Contenu de la ligne">
                    <label for="Date" class="form-label mt-4">Date</label>
                    <input type="date" data-date-format="YYYY-MM-DD" [(ngModel)]="newDate" [ngModelOptions]="{standalone: true}" class="form-control" id="Date" placeholder="Date">
                    <label for="Contenu de la ligne" class="form-label mt-4">Nouveau contenu de la ligne à modifier</label>
                    <input type="text" [(ngModel)]="newContent" [ngModelOptions]="{standalone: true}" class="form-control" id="Nouveau contenu de la ligne" placeholder="Contenu de la ligne">
                    <br>
                    <div class="d-grid gap-2">
                        <button class="btn btn-lg btn-primary" type="button" (click)="updateLine()">Modifier la ligne du C.V.</button>
                    </div>
                </div> <br>

                <!-- part to remove a line of the cv -->
                <div>
                    <legend>Supprimer une ligne du C.V.</legend>

                    <label for="Contenu de la ligne" class="form-label mt-4">Contenu de la ligne à supprimer</label>
                    <input type="text" [(ngModel)]="content2remove" [ngModelOptions]="{standalone: true}" class="form-control" id="Contenu de la ligne" placeholder="Contenu de la ligne">
                    <br>
                    <div class="d-grid gap-2">
                        <button class="btn btn-lg btn-primary" type="button" (click)="removeLine(content2remove)">Supprimer la ligne du C.V.</button>
                    </div>
                </div> <br>

                <!-- part to add a news -->
                <div>
                    <legend>Ajouter une news</legend>

                    <label for="Contenu de la ligne" class="form-label mt-4">Titre de la news</label>
                    <input type="text" [(ngModel)]="title2add" [ngModelOptions]="{standalone: true}" class="form-control" id="Contenu de la ligne" placeholder="Titre de la news">

                    <label for="exampleTextarea" class="form-label mt-4">Contenu de la news</label>
                    <textarea class="form-control" id="exampleTextarea" rows="5" [(ngModel)]="contentNews2add" [ngModelOptions]="{standalone: true}"></textarea><br>

                    <label for="Date" class="form-label mt-4">Date</label>
                    <input type="date" data-date-format="YYYY-MM-DD" [(ngModel)]="dateNews" [ngModelOptions]="{standalone: true}" class="form-control" id="Date" placeholder="Date"><br>

                    <button class="btn btn-lg btn-primary" type="button" (click)="addNews()">Ajouter la news</button>

                </div><br>

                <!-- part to modify a news -->
                <div>
                    <legend>Modifier une news</legend>

                    <label for="Contenu de la ligne" class="form-label mt-4">Titre de la news à modifier</label>
                    <input type="text" [(ngModel)]="title2modify" [ngModelOptions]="{standalone: true}" class="form-control" id="Contenu de la ligne" placeholder="Titre de la news à modifier">
                    
                    <label for="Contenu de la ligne" class="form-label mt-4">Nouveau Titre de la news à modifier</label>
                    <input type="text" [(ngModel)]="newTitleNews" [ngModelOptions]="{standalone: true}" class="form-control" id="Contenu de la ligne" placeholder="Nouveau titre de la news à modifier">

                    <label for="exampleTextarea" class="form-label mt-4">Nouveau contenu de la news</label>
                    <textarea class="form-control" id="exampleTextarea" rows="5" [(ngModel)]="newContentNews" [ngModelOptions]="{standalone: true}"></textarea><br>

                    <label for="Date" class="form-label mt-4">Date</label>
                    <input type="date" data-date-format="YYYY-MM-DD" [(ngModel)]="newDateNews" [ngModelOptions]="{standalone: true}" class="form-control" id="Date" placeholder="Date"><br>

                    <button class="btn btn-lg btn-primary" type="button" (click)="updateNews()">Modifier la news</button>
                    
                </div>
                <br>
                <!-- part for OJ -->
                <div *ngIf="lawyer.lawyer_id == 'OJ'">
                    <h1>Administration</h1>
                    <!-- Part to add a lawyer -->
                    <div>
                        <legend>Ajouter un avocat</legend>

                        <label for="Contenu de la ligne" class="form-label mt-4">Prénom de l'avocat à ajouter</label>
                        <input type="text" [(ngModel)]="lawyer2add.first_name" [ngModelOptions]="{standalone: true}" class="form-control" id="Contenu de la ligne" placeholder="Prénom de l'avocat à ajouter">

                        <label for="Contenu de la ligne" class="form-label mt-4">Nom de famille de l'avocat à ajouter</label>
                        <input type="text" [(ngModel)]="lawyer2add.last_name" placeholder="Nom de famille de l'avocat à ajouter" [ngModelOptions]="{standalone: true}" class="form-control" id="Contenu de la ligne" >

                        <label for="Date" class="form-label mt-4">Date</label>
                        <input type="date" data-date-format="YYYY-MM-DD" [(ngModel)]="lawyer2add.birthdate" [ngModelOptions]="{standalone: true}" class="form-control" id="Date" placeholder="Date">

                        <label for="Contenu de la ligne" class="form-label mt-4">ID de l'avocat à ajouter</label>
                        <input type="text" [(ngModel)]="lawyer2add.lawyer_id" placeholder="ID de l'avocat à ajouter" [ngModelOptions]="{standalone: true}" class="form-control" id="Contenu de la ligne" >

                        <label for="Contenu de la ligne" class="form-label mt-4">Mot de passe de l'avocat à ajouter</label>
                        <input type="text" [(ngModel)]="lawyer2add.password" placeholder="Mot de passe de l'avocat à ajouter" [ngModelOptions]="{standalone: true}" class="form-control" id="Contenu de la ligne" ><br>

                        <select class="form-select" id="selectType" [(ngModel)]="lawyer2add.status" [ngModelOptions]="{standalone: true}">
                            <option val="sch">Associé(e)</option>
                            <option val="pub">Collaborateur/Collaboratrice</option>
                            <option val="foe">Collaborateur/Collaboratrice externe</option>
                        </select><br>

                        <button class="btn btn-lg btn-primary" type="button" (click)="addLawyer()">Ajouter l'avocat</button>
                    
                    </div>
                    <br>
                    <!-- Part to remove a lawyer -->
                    <div>
                        <legend>Supprimer un avocat</legend>

                        <label for="Contenu de la ligne" class="form-label mt-4">Id de l'avocat à supprimer</label>
                        <input type="text" [(ngModel)]="lawyer_id2remove" [ngModelOptions]="{standalone: true}" class="form-control" id="Contenu de la ligne" placeholder="Id de l'avocat à supprimer"><br>

                        <button class="btn btn-lg btn-primary" type="button" (click)="removeLawyer()">Supprimer l'avocat</button>

                    </div>
                    <br>
                    <!--- Part to validate a news -->
                    <legend>News à valider</legend>
                    <div class="list-group">
                        <ul style="list-style-type:none;">
                            <li *ngFor="let new of unvalidatedNews">
                                <br>
                                <div class="card card border-primary mb-3" style="max-width: 1000rem;">
                                    <!-- <div class="card-header">Header</div> -->
                                    <div class="card-body">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{new.title}}</h5>
                                            <small>{{new.date}}</small>
                                          </div>
                                      <div *ngFor="let paragraph of new.content">
                                        <p class="mb-1">{{paragraph}}</p>
                                    </div> 
                                    </div>
                                  </div>
                                  <button type="button" class="btn btn-success" (click)="validateNews(new.title,new.author)">Valider</button>
                                  <button type="button" class="btn btn-danger"  (click)="removeNews(new.title, new.author)">Supprimer</button>
                                  <br>
                            </li>
                            <br>
                        </ul>
                    </div>
                    

                </div>

            </div>
        </div>
      </form> 
</div><br><br>

