<h1>Portalis</h1>
<p><small>ASSOCIATIONS D’AVOCATS</small></p>
<p>A proximité du centre de Charleroi, le cabinet d’avocats PORTALIS vous conseille et veille à fournir une gamme complète de services juridiques rendus par des avocats spécialisés : consultations, négociations, rédactions de conventions, recours devant les Cours, Tribunaux, Autorités administratives et disciplinaires.</p><br>
<p>Grâce à nos compétences et notre professionnalisme, nous mettons tout en œuvre afin de satisfaire et défendre au mieux les intérêts de notre clientèle : entreprises, sociétés commerciales, ASBL, administrations publiques, particuliers,…</p><br>
<p>En Région Wallonne, notre cabinet est un des premiers à avoir reçu la certification de qualité ISO 9001. Membre fondateur d’EUROJURIS International, il dispose aussi d’un réseau d’avocats correspondants partout en Europe.</p><br>

<h1>Informations Utiles</h1>
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Adresse</div>
    <div class="card-body">
      <a href="https://www.google.com/maps/place/Portalis+sprl/@50.3960988,4.451511,17z/data=!3m1!4b1!4m5!3m4!1s0x47c22665be483b65:0x38f470a2a18dafae!8m2!3d50.3960988!4d4.4536997"><h4 class="card-title">Rue Jules Destrée 72B-6001 Marcinelle</h4></a>
    </div>
</div>
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Téléphone & Fax</div>
    <div class="card-body">
        <h4 class="card-title">TEL : +32 71 / 31.41.43</h4>
        <h4 class="card-title">FAX : +32 71 / 31.89.01</h4>
    </div>
</div>