<link rel="stylesheet" href="sheets/sheet_accueil.css">
<header>
    <img src="pictures/logo_portalis.jpg" class="center" style="width:150px;height:70px";>
    <nav>
        <ul>
         <li><form action="/Accueil"><a href="/Accueil">Accueil</a></form></li>
         <li><form action="/Domaines"><a href="/Domaines">Domaines d'activité</a></form></li>
          <li><a href="#">Avocats</a>
            <ul>
              <li><form action="/Assos"><a href="/Assoc">Associés</a></form></li>
              <li><form action="/Collab"><a href="/Collab">Collaborateurs</a></form></li>
              <li><form action="/CollabEx"><a href="/CollabEx">Collaborateurs externes</a></form></li>
            </ul>
          </li>
          <li><form action="/Actu"><a href="/Actu">Actualités</a></form></li>
          <li><form action="/Infos"><a href="/Infos">Informations utiles</a></form></li>
          <li><form action="/Contact"><a href="/Contact">Contact</a></form></li>
        </ul>
      </nav><div class="topnav">
</header>
<body>
    <h1 id="Title">Associations d'avocats PORTALIS</h1>
    <p>
        A proximité du centre de Charleroi, le cabinet d’avocats PORTALIS vous conseille et veille à fournir une gamme complète de services juridiques rendus par des avocats spécialisés : consultations, négociations, rédactions de conventions, recours devant les Cours, Tribunaux, Autorités administratives et disciplinaires.
    </p>
    <p>
        Grâce à nos compétences et notre professionnalisme, nous mettons tout en œuvre afin de satisfaire et défendre au mieux les intérêts de notre clientèle : entreprises, sociétés commerciales, ASBL, administrations publiques, particuliers,…
    </p>
    <p>
        En Région Wallonne, notre cabinet est un des premiers à avoir reçu la certification de qualité ISO 9001. Membre fondateur d’EUROJURIS International, il dispose aussi d’un réseau d’avocats correspondants partout en Europe.    
    </p>
</body>